# Java
*.class
*.jar
*.war
*.ear

# Eclipse
.classpath
.settings
.factoryPath

# Idea
.idea
*.iml
*.iws
*.ipr

# OS
Thumbs.db
.DS_Store

# Gradle
.gradle
!gradle-wrapper.jar

# Maven
target
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.factorypath
.mvn
mvnw*

# Spring
.sts4-cache

# Build
out
build
bin

# Other
*.log
*.swp
*.bak
.data
.db
.memento
logs
